.certificateVerification-content {
    /* height: calc(100vh - 330px); */
    min-height: calc(100vh - 330px);
    /* overflow-y: auto; */
}

.VerificationResults-Contant-a {
    width: 764px;
    height: 724px;
    margin: 18px;
    background: #ffedcf;
    background: url(../images/Certificatebackground.png)no-repeat;
}