html, body {
  width: 100%;
  height: 100%;
}


#Header {
  height: 120px;
}

.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.double-line {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  line-height: 25px;
}

.three-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.red-button {
  height: 40px;
  background-color: #AD0F16;
  color: #FFFFFF;
  padding: 0 40px;
  border-radius: 3px;
}

.page-block {

}

.page-block .page-block-title {
  text-align: center;
  padding: 40px 0;
}

.page-block .page-block-title b {
  /* background: url(../../static/imgs/common/titletag.png) no-repeat bottom; */
  background-size: 118px 8px;
}

.page-block .block-left {
  float: left;
}
.search_li_a_div_1{
	color: #2440b3;
	font-size: 18px;
}
.search_li_a_div_2{
	margin-top: 20px;
	font-size: 14px;
	color: #666666;
}
.page-block .block-other {
  overflow: hidden;
}
@media (min-width: 768px) {
		.col-lg-3 {
		    width: 25%!important;
		}
		.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
		    float: left!important;
		}
		.col-lg-12 {
		    width: 100%!important;
		}
		.col-lg-9 {
		    width: 75% !important;
		}
		.col-lg-8 {
		    width: 66.66666667%!important;
		}
		.col-lg-4 {
		    width: 33.33333333%!important;
		}
	}