
/*顶部登陆注册*/
@media screen and (min-width:1200px) {
    .header,.main,.OnlineService-main{
        /*width: 1000px;*/
        margin: 0 auto;
        /*头部*/
        height: 70px;
        z-index: 999;
    }
    /*.nav-left-Icon{*/
    /*    margin-left: 160px;*/
    /*}*/
    .login-header-right{
        margin-right: 105px
    }

    .TeacherQualification-Search2{
        width: 320px;
    }
    .TeacherQualification-Search3{
        width: 320px;
    }

    .TeacherQualification{
    //头部
    border-bottom: 1px solid #F3F3F3;
        width: 1140px;
        height: 70px;
        background: #f8f8f8;
        z-index: 1000;
        position: fixed;top: 0;
        /*height: 80px;*/
        /*line-height: 80px;*/
    }
    .main-entrance-item{
        float: left;
        width: 0px;
    }

    .TeacherQualification-news-list-ul>ul>li,.Notice-Announcement-Content>ul>li{
        float: left;
        box-sizing: border-box;
        line-height: 40px;
    }
    .TeacherQualification-left>a{
        width: 300px;
        height: 300px;
        display: block;
        position: relative;
    }
    .TeacherQualification-left>a>img{
        /*width: 1200px;*/
        width: 300px;
        height: 50px;
    }
    .WebsiteReputation{

    }
    .Notice-Announcement-Nav>ul>li{
        margin-left: 20px;

    }
    .OnlineService-DeclarationEntrance-left{
        height: 60px;
    }
    .OnlineService-Nav-list>li{
        /*padding: 10px;*/
        /*border: 1px solid #959595;*/
        border-radius: 5px;
        margin-right: 24px;
        cursor: pointer;
        font-size: 14px;
    }

    .QualificationInformation-main{
        width: 100%;
        /*width: 1000px;*/
    }
    .consultingService-main-Send ul{
        border-bottom: 1px solid #d0d0d0;
    }
    .consultingService-main-Send ul li{
        float: left;
        margin-right: 20px;
        margin-top: 20px;
        /*border-bottom: 1px solid #d0d0d0;*/
    }
    .consultingService-main-Send ul li:hover{
        border-bottom: 2px solid #335fbe;
    }
    .consultingService-main-Send ul li a{
        border-radius: 3px;
        color: #0F53A4;

    }
    .QualificationInformation-nav>ul li{
        float: none;
        text-align: left;
        margin: 20px 10px;
    }
    /*.TeacherQualification-news-list-ul>ul>li:nth-child(odd) {*/
    /*     margin-right: 150px;*/
    /*}*/

    /*.navbar-brand img{*/
    /*    width: 390px;*/
    /*    height: 38px;*/
    /*}*/

    /*.container1{*/
    /*    width: 830px;*/
    /*    float: right;*/
    /*}*/

    .IntelligentAssistant,.IntelligentAssistant-right{
        width: 300px;

    }
    .WebsiteReputation-top{
        /*width: 650px;*/
        height: 100%;
        margin: 0 auto;
    }
    .header-Search {
        height: 70px;
        /*background: #f8f8f8;*/
        z-index: 999;
    }


    .TeacherCertificate-verification-left{
        height: 300px;
        margin-left: 100px;
    }
    /*.TeacherCertificate-verification-left{*/
    /*    position: absolute;right: 0;top: 0;*/
    /*}*/


    .container1 .navbar-brand img{
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-top: 8px;
        /*margin-right: 20px;*/
    }
    /*.consultingServiceContent*/
    .noticeContent,.webServiceContent{
        height: 600px;
    }

    /*.main-entrance-right>div{*/
    /*    border-right: 1px solid #DCDCDC*/
    /*}*/
    .main-entrance-right>div:last-child{
        border-right: none;
    }

    .oneColumn {
        padding: 10px 66px 38px 66px;
    }
    .QrCode{
        margin-right: 80px;
    }
    /*.WebsiteReputation-left>ul{*/
    /*    margin-left: 80px;*/
    /*}*/
    .WebsiteReputation-left>ul>li{
        margin-right: 50px;
        color: #91C4F4;
    }
    .row1{
        margin-left: -15px;
        margin-right: -15px;
    }
    /*.main-entrance-item-top{*/
    /*    background: #FFFFFF;*/
    /*}*/

    .userlogin{
        width: 200px;
        height: 50px;
        float: right;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .container{
        width: 100%
    }
    .container1{
        width: 100%;
    }
    /*.navbar-brand img{*/
    /*    width: 390px;*/
    /*    height: 38px;*/
    /*}*/
    .WebsiteReputation-top{
        /*width: 650px;*/
        height: 100%;
        margin: 0 auto;
    }

}
.TeacherQualification-Search3{
    height: 40px;
    border-radius: 80px;
    background:#f0f2f5;
    position: relative;
}
@media screen and (max-width:767px) {
    /*.fill{*/
    /*    height: 70px;*/
    /*}*/

    /*.Online-Declaration-list-li:first-child>.Online-Declaration-list-left>dl>dt>img{*/
    /*    margin-top: 0;*/
    /*}*/
    .tdHide{
        display: none;
    }
    .main-entrance-item-top{
        width: 100%;
        /*width: 340px;*/
    }
    .navbar1-fixed-top{
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1000;
    }
    .container{
        padding-left: 0;
        padding-right:0;
    }
    .header-Search{
        width: 100%;
        /*margin: 30px 0 20px 30px;*/
    }
    .TeacherQualification-Search2{
        width: 320px;
    }
    .TeacherQualification-Search3{
        width: 320px;
    }
    .header-Search>p{
        margin-top: 25px;
    }
    .container1{
        width: 100%;
    }
    /*.navbar-brand img{*/
    /*    width: 280px;*/
    /*    height: 30px;*/
    /*}*/
    .main-entrance>img{
        width: 100%;
    }
    .main-entrance-item{
        float: none;
        width: 350px;
    }
    .main-entrance-list{
        margin-top: 20px;
    }

    .TeacherQualification-left>a{
        width: 100%;
        /*height: 300px;*/
        display: block;
        position: relative;
    }

    .TeacherQualification-left>a>img{
        width: 100%;
        /*height: 100%;*/
    }
    .TeacherQualification-news{
        width: 96%;
    }
    .TeacherQualification-news-list-ul>ul>li,.Notice-Announcement-Content>ul>li{
        float: none;
        padding: 0;
        line-height: 30px;
    }
    .main-entrance-item{
        margin-left: 0;
    }
    .IntelligentAssistant,.IntelligentAssistant-right{
        float: none;
        margin-top: 15px;
    }
    .TeacherLinks>ul>li{
        float: none;
    }
    .WebsiteReputation{
        margin-left: 40px;
    }
    .Notice-Announcement-Nav>ul>li{
        float: left;
        margin-left: 20px;
    }
    .OnlineService-Nav-list>li{
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 14px;

    }

    .consultingService-main-nav>ul li{
        width: 50%;
    }

    .consultingService-main-Send>ul li{
        width: 48%;
        text-align: center;
    }
    .Notice-Announcement-Content{
        float: left;
    }
    .Notice-Announcement-Content>ul li a{
        width: 100%;

    }
    .QualificationInformation-right{
        padding: 0;
    }

    .WebsiteReputation-left{
        width: 100%;
        margin-top: 25px;
    }
    .WebsiteReputation-right{
        margin-top: 25px;
    }

    .QualificationInformation-nav>ul li{
        float: left;
    }


    .TeacherCertificate-verification-left{
        margin-bottom: 20px;
    }
    .main-entrance-right>div{
        border-right: none;
    }
    .oneColumn {
        padding: 10px 20px 38px 20px;
    }
}
.TeacherQualification-zxfw-list-ul-li{
    height: 95px;
    background: #fafafd;
    margin-bottom: 8px;
}
.Links-list>li{
    line-height: 35px;
}

.QualificationInformation-nav-a{
    font-size: 16px;
    color: #9ca2b2;
}

.Circular{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #7e9ee4;
}

body{

}
.CurrentLocation{
    height: 50px;
    line-height: 50px;
}
.row1{
    margin-top: 180px;
    background: #FFFFFF;
}
.TeacherCertificate{
    margin: 30px 0;
}
.container1 .navbar-brand{
    line-height: 50px;
}
.container1 .navbar-brand img{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    /*margin-right: 20px;*/
}
/*.container1{*/
/*    margin: 0 auto;*/
/*}*/
.eyebrowBox{
    width: 100%;
    width: 1000px;
    height: 50px;
}
.header-active{
    color: #FFFFFF;
    background: #1a4b8e;
}
.SetHome{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}
.SetHome>img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-right: 15px;
}
.loginRig{
    height: 50px;
    line-height: 50px;
    font-size: 13px;
}
.loginRig>span{
    padding-right: 10px;
}
.loginRig>button{
    border-radius: 3px;
    background: #dcdcdc;
}
.login{
    margin-right: 5px;
}
.header-Search>p{
    margin-left: 15px;
}
/*教师资格认定指导中心 搜索*/

/*.TeacherQualification-line{*/
/*    !*display: inline-block;*!*/
/*    width: 3px;*/
/*    height: 40px;*/
/*    background: navy;*/
/*    margin: 20px 0 0 20px;*/
/*}*/
.TeacherQualification-left{
    /* height: 50px; */
}
.TeacherQualification-left>h2{
    font-size: 22px;
    font-weight: bold;
    color: navy;
}
.TeacherQualification-Search2{
    height: 40px;
    border-radius: 80px;
    background:#f0f2f5;
    position: relative;
}
.TeacherQualification-Search{
    width: 230px;
    height: 30px;
    /*border-radius: 4px;*/
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    /*background: #F3F3F3;*/
    position: relative;
}
.searchword{
    width: 230px;
    height: 40px;
    position: absolute;left: 30px;top: 0px;
    border: none;
    outline: none;
    background: none;
}
.TeacherQualification-Search>input{
    width: 180px;
    height: 30px;
    position: absolute;left: 30px;top: 0px;
    border: none;
    outline: none;
    background: none;
}
.Search-btn{
    width: 54px;
    height: 30px;
    background: red;
    color: #FFFFFF;
    position: relative;
}
.Search-btn>img{
    width: 30px;
    height: 30px;
    position: absolute;left: 10px;top: 0px;
}
.Nav-list>li{
    cursor:pointer;
}
.navbar-nav>li{
    text-align: center;
}

.navbar-nav>li>a{
    margin-top: 10px;
}

/*.navbar-nav>li>a>font>b{*/
/*    color: #103178;*/
/*}*/
.Nav{
    width: 100%;
    height: 58px;
    /* Webkit: Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66a0f4), to(#335fbe));
    /* Webkit: Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(top, #66a0f4, #335fbe);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #66a0f4, #335fbe);
    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #66a0f4, #335fbe);
    /* IE 10 */
    background: -ms-linear-gradient(top, #66a0f4, #335fbe);
    /*!* IE < 10 *!*/
    /*!* 注意：这一行必须写在最后 *!*/
    FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#fff, endColorStr=#F3F2F2);
    margin: 0 auto;
}
.Nav ul{
    width: 1000px;
    height: 58px;
    margin: 0 auto;
}
.Nav ul li{
    width: 95px;
    float: left;
    text-align: center;
    line-height: 58px;
    margin-right: 58px;
    position: relative;
}
.Nav ul li a{
    color: #FFFFFF;
    /*border-bottom: 3px solid #F3F3F3;*/
    padding: 0 5px 9px 5px;


}
.Nav ul li i{
    display:block;
    width: 95px;
    height: 3px;
    border-radius: 3px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from("#FFFFF"), to(red));
    /* Webkit: Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(left, #FFFFFF, red);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #FFFFFF, red);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #FFFFFF, red);
    /* IE 10 */
    background: -ms-linear-gradient(left, #FFFFFF, red);
    position: absolute;left: 0;bottom: 5px;
}
.main{
    /*width: 1000px;*/
    margin: 0 auto;
    margin-top: 20px;

}
.main-entrance{
    width: 100%;
    /*height: 300px;*/
}

.main-entrance>div{
    width: 100%;
    height: 400px;
    position: relative;
    background: url("../static/images/HomeIcon/focus.jpg");
    background-repeat: repeat-x;
    background-size: 100% 100%;
}
.main-entrance-banner-content{
    padding: 15px 0 0 20px;
}
.main-entrance-banner-content>h3{
    font-weight: bold;
    font-size: 16px;
}
.main-entrance-banner-content>p{

    font-size: 14px;
}



.main-entrance-right{
    width: 100%;
    margin-top: 20px;
    /*height: 300px;*/
}
.main-entrance-item{
    display: inline-block;
    width: 330px;
    height: 200px;
    /*padding: 10px;*/
    background: #FFFFFF;
    /*margin:0 0 15px 15px;*/
    position: relative;
}
.main-entrance-item-btn{
    position: absolute;left: 40px;bottom: 10px;
}
.main-entrance-item-btn>button{
    padding: 5px 15px;

    border-radius: 3px;


}
.Service-guide{
    background: #FFFFFF;
    margin-right: 20px;
}
.Notice{
    background: #1a4b8e;
    color: #FFFFFF;
}
.main-entrance-item>img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    position: relative;
    top: 50%; /*偏移*/
    transform: translateY(-50%);
    border-radius: 20px;
}
.main-entrance-item-right{
    width: 220px;
    margin-left: 10px;
    /*position: relative;*/
    /*top: 50%; !*偏移*!*/
    /*transform: translateY(-50%);*/
}
.main-entrance-item-right>a{
    display: inline-block;
    color: #2b50a8;
    padding-bottom: 5px;
    border-bottom: 1px solid #bfbfbf;
    font-size: 14px;
    font-weight: bold;
}

.main-entrance-item-right-text{
    font-size: 12px;
    color: #81899c;

    /*color: #F3F3F3;*/
}
.TeacherQualification{
    border-bottom: 1px solid #F3F3F3;
    z-index: 1000;
}
.TeacherQualification-news-list{
    height: 30px;
    /*line-height: 30px;*/
}
.TeacherQualification-news-list>h3{
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #959595;
    font-size: 14px;
    margin-right: 5px;
    color: #FFFFFF;
    cursor: pointer;
}
.TeacherQualification-news-list>li{
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #959595;
    font-size: 14px;
    margin-right: 5px;
    color: #FFFFFF;
    cursor: pointer;
}
.TeacherQualification-news-list>li:hover{
    background: red;
    font-weight: bold;
}

.TeacherQualification-news-header{
    /*width: 96%;*/
    width: 100%;
    height: 30px;
    /*border-bottom: 1px solid #335fbe;*/
    /*margin-left: 4%;*/
}
#TeacherQualification-news-list-ul-a{
    /*height: 300px;*/
    float: left;
    margin-top: 20px;
    background: #fafafd;
    padding-bottom: 22px;
}
.TeacherQualification-news-header>p>span{
    line-height: 30px;
    color:#b3b3b3;
    font-size: 14px;
}

.TeacherQualification-news-list-ul>ul>li{
    /*width: 400px;*/
    /*float: left;*/

}
.TeacherQualification-news-list-ul>ul>li>i>img{
    width: 25px;
    height: 25px;
}
.TeacherQualification-news-list-ul>ul>li>a{
    font-size: 14px;
    color: black;
    padding-left: 7px;
}
.IntelligentAssistant,.IntelligentAssistant-right{
    width: 330px;
    height: 150px;
    background: #efefef;
    background-size: 100% 100%;
    padding: 10px 10px 0 10px;
    margin:15px 0 0 15px;
}
.IntelligentAssistant-right ul{
    margin-top: 30px;
}
.IntelligentAssistant-right-item{
    width: 33%;
    text-align: center;
    border-right: 1px solid #cccccc;
}
.IntelligentAssistant-right-item:last-child{
    border-right: none;
}
.IntelligentAssistant-right-item dl dd{
    width: 70px;
    margin: 0 auto;
    margin-top: 10px;
    /*width: 50px;*/
}
.IntelligentAssistant-right-item dl dt img{
    width: 40px;
    height: 40px;
}
.IntelligentAssistant-right-item dl dd a{
    font-weight: bold;
    color: #335fbe;
    font-size: 14px;
}

.TeacherLinks-title{
    /*font-weight: bold;*/
    color: #335fbe;
    font-size: 18px;
}
.ConsultingService-list{
    width: 100%;
    /*height: 160px;*/
}
.IntelligentAssistant-header{
    height: 40px;
    line-height: 30px;
    margin-bottom: 15px;
}
.IntelligentAssistant-header>img{
    width: 40px;
    height: 40px;
    float: left;
}
.IntelligentAssistant-header>p{
    width: 225px;
    border-bottom: 2px solid #bfbfbf;
    padding-bottom: 5px;
    margin-left: 10px;
}
.IntelligentAssistant-header>p>a{
    color:  #335fbe;
    font-weight: bold;
}
.IntelligentAssistant-text{
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
}
/*友情链接*/
.TeacherLinks{
    float: left;
    margin-top: 75px;
    margin-bottom: 70px;
}
/*.TeacherLinks>ul>li:first-child{*/
/*    !*padding-left: 0px;*!*/
/*}*/

.TeacherLinks>ul>li>a{
    font-size: 14px;
    color: #81899c;
}

/*网站声名*/
.footer{
    width: 100%;
    background: #494f62;
    float: left;
}
.WebsiteReputation{
    /*width: 100%;*/
    /*margin-top: 30px;*/
    margin: 20px 0;
}

.WebsiteReputation-left>img{
    display: inline-block;
}
.CauseCompany{
    margin-right: 40px;
}
.WebsiteReputation-right{

    /*margin-left: 110px;*/
}

.WebsiteReputation-right>ul>li{
    margin-right: 25px;
    text-align: center;
}
.WebsiteReputation-right>ul>li>img{
    display: inline-block;
    width: 45px;
    height: 35px;

}
.WebsiteReputation-right>ul>li>p>span{
    color:#b8c0d3;
    font-size: 14px;
    padding-top: 8px;

}
.WebsiteReputation-right>ul>li>p{
    padding-top: 5px;
}
.footer-copyright{
    color: #6c7181;
    font-size: 14px;
}
.footer-copyright-ICP{
    padding-top: 10px;
}
.footer-copyright-ICP>span>img{
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.footer-copyright-PublicFiling{
    margin-left: 21px;
}

.Online-Declaration-list-li{
    background: #FFFFFF;
    margin-bottom: 35px;
    /*padding: 30px 0 50px 0;*/
}


.Online-Declaration-list-left img{
    width: 370px;
    height: 216px;
}
.Online-Declaration-list-right{
    margin-left: 20px;
}
.Online-Declaration-list-right>h4{
    padding-top: 10px;
}
.Online-Declaration-list-right>p{
    line-height: 35px;
    color: #333333;
}
.Online-Declaration-list-right-nav{
    height: 30px;
}
.Online-Declaration-list-right-nav>li{
    margin-bottom: 15px;
    margin-right: 20px;
}
.Online-Declaration-list-right-nav>li>a{
    display: inline-block;
    padding: 3px 11px 3px 12px;
    color: #0F53A4;
    border: 1px solid #0F53A4;
    border-radius: 4px;

    font-size: 16px;
}

.Notice-Announcement-Content>ul>li>>a{
    padding-left: 12px;
}
.Notice-Announcement-Content>ul>li>span{
    text-align: right;
    color: #c0c1c3;
}

